h1{
  color:PINK;
}

#maintitle{
  text-align: center;
  font-size: 40px;
  color:pink;
  }

.bd1{
  background-image: url("../images/sokolatopita.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bd2{
background-image: url("../images/brownies.jpg");
  background-repeat: no-repeat;
background-size: cover;
}

.bd3{
background-image: url("../images/brownies.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.bd4{
background-image: url("../images/sokolatopita.jpg");
background-repeat: no-repeat;
background-size: cover;
}
